---
import consts from "@/consts";
import Root from "@/layouts/Root.astro";
import HeaderNav from "@/components/HeaderNav.astro";
import FooterNav from "@/components/FooterNav.astro";
import TopFirstCover from "@/components/TopFirstCover.astro";
import AbstractSection from "@/components/AbstractSection.astro";
import AbstractPlayerSection from "@/components/AbstractPlayerSection.astro";
import AbstractPlayerCard from "@/components/AbstractPlayerCard.astro";

import LionelMessi2026 from "@/assets/lionelmessi-2026.jpg";
import KylianMbappe2026 from "@/assets/Kylian_Mbappe_-_France_v_Norway_-_26_June_2026_(cropped).jpg";
import LamineYamal2026 from "@/assets/Lamineyamal-2026.jpg";
import JudeBelingham2026 from "@/assets/Jude_Bellingham.jpg";
import ViníciusJúnior2026 from "@/assets/Vinícius_Júnior.jpg";
---

<Root title={consts.SITE_NAME}>
  <TopFirstCover/>
  <HeaderNav/>
  <main class="max-w-6xl mx-auto my-20 space-y-16">
    <AbstractSection title="ABOUT" aka="このサイトについて">
      <p class="max-w-3xl mx-auto  px-5">
        吾輩わがはいは猫である。名前はまだ無い。 どこで生れたかとんと見当けんとうがつかぬ。
        何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。
        吾輩はここで始めて人間というものを見た。
        しかもあとで聞くとそれは書生という人間中で一番獰悪どうあくな種族であったそうだ。
      </p>
    </AbstractSection>
    <AbstractSection title="OVERVIEW" aka="この大会について" morelink="/overview">
      <p class="max-w-3xl mx-auto px-5">
        2026FIFAワールドカップは、北米3か国で開催される予定であり、48か国が出場する大規模な大会となる。
        優勝候補にはフランス、スペイン、アルゼンチン、イングランドなどがあげられ、いずれも世界トップクラ
        スの選手層と高い戦術力を備えている。日本代表はアジアを代表する強豪国として大会に出場し、組織力や
        運動量、素早い攻守の切り替えを武器としている。
      </p>
    </AbstractSection>
    <AbstractSection title="FEATURED PLAYERS" aka="注目の選手" morelink="/players">
      <AbstractPlayerSection>
        <AbstractPlayerCard
          image={LionelMessi2026}
          name="リオネル・メッシ"
          link="/players#lionelmessi"
          license={<>&copy; Bryan Berlin (CC BY-SA 4.0), via <a class="underline hover:no-underline" href="https://commons.wikimedia.org/w/index.php?curid=195518244">Wikimedia Commons</a></>}/>
        <AbstractPlayerCard
          image={KylianMbappe2026}
          name="キリアン・ムバッペ"
          link="/players#kylianmbappe"/>
        <AbstractPlayerCard
          image={LamineYamal2026}
          name="ラミン・ヤマル"
          link="/players#lamineyamal"/>
        <AbstractPlayerCard
          image={JudeBelingham2026}
          name="ジュード・ベリンガム"
          link="/players#judebellingham"/>
        <AbstractPlayerCard
          image={ViníciusJúnior2026}
          name="ヴィ二シウス・ジュニオール"
          link="/players#viniciusjunior"/>
      </AbstractPlayerSection>
    </AbstractSection>
    <AbstractSection title="FEATURED GAMES" aka="注目の試合" morelink="/games">
      <p class="max-w-3xl mx-auto px-5 text-center">
        沢山の試合があった中、私たちが注目した試合についての感想をまとめました。
      </p>
    </AbstractSection>
  </main>
  <FooterNav/>
</Root>
