---
import consts from "@/consts";

// Assets
import SiteLogoWhite from "@/assets/sitelogo-white.svg";
import SiteLogoWhiteNarrow from "@/assets/sitelogo-white-narrow.svg";
---
<div class="h-svh w-full z-0">
  <div class="h-full w-full bg-black/40 text-white relative">
    <div class="pb-5 space-y-5 absolute bottom-0 left-0 m-2 lg:m-10">
      <div class="w-full">
        <img src={SiteLogoWhite.src} loading="eager" alt={consts.SITE_NAME} class="hidden lg:block"/>
        <img src={SiteLogoWhiteNarrow.src} loading="eager" alt={consts.SITE_NAME} class="block lg:hidden"/>
      </div>
      <div>
        <p class="text-white pl-3 font-bold text-md text-ellipsis">{consts.SITE_NAME_JA}</p>
        <p class="text-white pl-3 text-ellipsis">
          背景映像:
          <a href="https://youtu.be/eHGpAbpVX3U" class="underline hover:no-underline">
            「最高の景色を見せてくれ」JFATV on YouTube
          </a>
        </p>
      </div>
    </div>
  </div>
  <div class="yt-embed-wrapper">
    <iframe
      id="yt-embed"
      width="560" height="315"
      src="https://www.youtube-nocookie.com/embed/eHGpAbpVX3U?autoplay=1&mute=1&loop=1&controls=0&showinfo=0&modestbranding=1&rel=0&iv_load_policy=3&disablekb=1&cc_load_policy=0"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin">
    </iframe>
  </div>
</div>

<style>
  .rubik-glitch {
    font-family: "Rubik Glitch", system-ui;
  }

  .yt-embed-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    pointer-events: none;
  }

  #yt-embed {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 177.77777778svh;
    height: 100svh;
    min-width: 100svw;
    min-height: 56.25svw;
  }
</style>
